.app-home {
  .red {
    color: red;
  }

  .black {
    color: black;
  }

  .blue {
    color: blue;
  }

  .orange {
    color: orange;
  }

  .yellow {
    color: yellow;
  }

  .bg {
    background-image: url("img/download.jpeg");
  }
}